html{height: 100%}
body{background-image: url(../images/eatubackground.jpg); background-repeat: no-repeat; background-size: cover; height: 100%; padding: 0px; margin: 0px; color: rgba(0, 0, 0, 1); font-size: 10pt; font-family: Larsseit; font-weight:100}
h1{color: rgba(255, 255, 255, 1);font-size: 70px; font-family: DelgadoSans;font-weight: 100; letter-spacing: 30px; margin: 0px}
h2{color: #595656; font-size: 20px; font-family: DelgadoSans; font-weight: 100; line-height: 40px; letter-spacing: 5px; margin: 0px}
p{color: rgba(255, 255, 255, 1); font-size: 9pt; font-family: Larsseit; font-weight: 100;line-height: 20px; margin: 0px}
address{color: rgba(255, 255, 255, 1); font-size: 10pt; font-family: Larsseit; font-weight: 100;line-height: 25px; margin: 0px}
a:link {color: rgba(255, 255, 255, 1); font-size: 10pt; font-family: Larsseit; font-weight: 500;text-decoration: underline; margin-left: 5px; margin-right: 5px}
a:visited {color: rgba(255, 255, 255, 1);text-decoration: none}
a:hover {color: #595656;text-decoration: none}
a:active {color: #595656;text-decoration: none}
.inner {width:100px; height:1px; margin:0px auto 0; border:1px solid white; margin-bottom: 0px; margin-top: 50px}



#wrapper {margin: 20px auto 0; position: relative; top: 50%; transform: translate(0px, -50%)}
.accroche {text-align: center;}